# Node modules (all folders)
node_modules/

# Env files (all folders)
.env
.env.*
*/.env
*/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / output folders
dist/
build/
.next/
out/

uploads/

# Cache
.cache/
.parcel-cache/

# IDE / Editor
.vscode/
.idea/

# Misc
*.log

# Ignore all .md files (if you really want)
*.md